[submodule "GymSetTracker"]
	path = GymSetTracker
	url = https://github.com/pstarowicz/GymSetTracker.git
[submodule "GymGuardUI"]
	path = GymGuardUI
	url = https://github.com/pstarowicz/GymGuardUI.git
